{
    "n_epochs": 120,
    "init_lr": 0.2,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "dataset": "speech_commands",
    "train_batch_size": 100,
    "test_batch_size": 100,
    "valid_size": null,
    "opt_type": "sgd",
    "opt_param": {
        "momentum": 0.9,
        "nesterov": true
    },
    "weight_decay": 4e-05,
    "label_smoothing": 0.1,
    "no_decay_keys": null,
    "model_init": "he_fout",
    "init_div_groups": false,
    "validation_frequency": 1,
    "print_frequency": 10,
    "n_worker": 4,
    "resize_scale": 0.08,
    "distort_color": "normal",
    "n_mfcc": 20
}