{
    "name": "ProxylessNASNets",
    "bn": {
        "momentum": 0.1,
        "eps": 0.001
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": [
            5,
            11
        ],
        "stride": [
            1,
            2
        ],
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "num_bits": 8,
        "in_channels": 1,
        "out_channels": 72,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 5,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 2,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 2,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 2,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 2,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 72,
                "out_channels": 72,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 2,
                "mid_channels": null,
                "num_bits": 8
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 72,
                "out_channels": 72,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "num_bits": 8,
        "in_channels": 72,
        "out_channels": 144,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 144,
        "out_features": 12,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0,
        "ops_order": "weight_bn_act",
        "num_bits": 8
    }
}